body{

background-color: darkslategrey;
font-family: 'M PLUS 1', sans-serif;
color: goldenrod;


}

.heading{

    width: 400px;
}

.name_of_objects{

    font-family: 'M PLUS 1', sans-serif;
    
}

.title{
    color: rgba(255, 165, 160, 0.842)
}

.webcam{
    color: rgba(255, 165, 160, 0.842);
}

#result_object_name, #result_object_accuracy{
    color: rgba(217, 160, 255, 0.911);
}